{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-3 has-text-centered my-6">Reset Password</h2>
    <p class="subtitle is-5 has-text-centered mb-6">
      Enter your email address below, and we'll send you instructions to reset your password.
    </p>
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box">
          <form method="post">
            {% csrf_token %}
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="email"
                  name="email"
                  placeholder="Your email"
                  required />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            {% if messages %}
            <div class="notification is-danger mt-5">
              <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="field">
              <div class="control">
                <button class="button is-purple is-fullwidth my-6">
                  Send Reset Email
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}