{% extends "base.html" %} {% block title %}Password Reset Sent{% endblock %} 
{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-3 has-text-centered my-6">Password Reset Sent</h2>
    <p class="subtitle is-5 has-text-centered mb-6">
      We've emailed you instructions for resetting your password. If you don't
      receive an email, please check your spam folder or try again.
    </p>
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box has-text-centered">
          <p class="has-text-grey">
            If you encounter any issues, please contact support.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
