{% extends "base.html" %} {% block title %}Password Reset Complete {% endblock
%} {% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-3 has-text-centered my-6">Password Reset Complete</h2>
    <p class="subtitle is-5 has-text-centered mb-6">
      Your password has been successfully reset. You can now log in with your
      new password.
    </p>
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box has-text-centered">
          <a
            href="{% url 'login' %}"
            class="button is-purple is-fullwidth my-6">
            Log In
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
